.CollectionCard{
  min-height: 150px;
  max-width: calc(33% - 41px);
  min-width: 200px;
  flex-grow: 1;
  border: none;
  border-radius: 14px;
  padding: 15px;
  background-color: var(--color-2);
  box-shadow: var(--standard-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-between; 

  animation: .75s growIn;
  transition: var(--standard-transition-fast);
}
.CollectionCard:hover{
  transform: scale(1.06);
}
.CollectionCard h3{
  font-size: 1.35rem;
}
.CollectionCard h3 + p{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-5);
}
.CollectionCard .info-container{
  display: flex;
  justify-content: space-between;
}
@keyframes growIn{
  from{
    opacity: 0;
    scale: 0.75;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
@media(max-width: 400px){
  .CollectionCard{
    max-width: 100%;
  }
}