.CreateCollection{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 75px;
}
.CreateCollection .Flashcard{ 
  height: 300px;
  width: 500px;
  max-width: 100%;
}
.Flashcard .side{
  overflow: hidden;
}
.flashcard-editor-container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.flashcard-editor-container form{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.flashcard-editor-container form .InputBox{
  width: 100%;
}
.flashcard-editor-container .form-buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.collection-editor-container{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.created-flashcards-container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}

.preview-flashcard{
  height: 80px;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--color-4);
  background-color: var(--color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: var(--standard-shadow);
  cursor: pointer;

  transition: var(--standard-transition-fast);
  animation: .75s fadeIn;
}
.preview-flashcard:hover{
  transform: scale(1.5);
  z-index: 3;
}
.add-card{
  background-color: transparent;
  border: 1px solid var(--color-5);
}
.add-card:hover{
  transform: none;
  border-color: var(--accent-color);
}
.add-card:hover svg{
  fill: var(--accent-color);
}
.collection-form{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.collection-form .InputBox{
  width: 100%;
}
@keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 500px){
  .CreateCollection .Flashcard{
    height: 200px;
  }
  .CreateCollection .collection-editor-container{
    max-width: 100%;
  }
  .CreateCollection .preview-flashcard{
    width: 45%;
    height: 80px;
  }
  .CreateCollection .preview-flashcard:hover{
    transform: unset;
  }
}