.Flashcard{
  height: 400px;
  width: 600px;

  transform-style: preserve-3d;
  transition: var(--standard-transition-smooth);
} 
.Flashcard .side{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border-radius: 20px;
  background-color: var(--color-3);
  box-shadow: var(--standard-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-back{
  transform: rotateY(180deg);
}
/* .Flashcard:hover{
  transform: rotateY(180deg);
} */
.Flashcard.flipped{
  transform: rotateY(180deg);
}
.card-text{
  width: 90%;
  font-size: 100%;
  text-align: center;
}
.card-options{
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.card-options svg{
  padding: 8px;
  border-radius: 50%;
}
.card-options svg:hover{
  background-color: var(--color-2);
}
.Flashcard .hint{
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-5);
  font-size: 16pt;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0;

  animation: 10s fade;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes fade{
  0%{
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  10%{
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  90%{
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  100%{
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}
.FlashcardRightIn{
  animation: .5s FlashcardRightIn;
}
.FlashcardLeftIn{
  animation: .5s FlashcardLeftIn;
}
@keyframes FlashcardRightIn{
  from{
    transform: translateX(88px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes FlashcardLeftIn{
  from{
    transform: translateX(-88px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}