body{
  /* background-image: radial-gradient(var(--color-2), var(--color-1)); */
  position: relative;
}
.Home{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body:has(.Home){
  padding: 0;
}
.Home header{
  padding: 50px; 
  padding-top: 150px; 
  height: 50vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}
.darkmode .Home header{
  background: radial-gradient(rgba(59, 147, 180, 0.3), rgba(59, 147, 180, 0.088), transparent, transparent);
}
.Home h1{
  font-size: 4rem;
  color: var(--text-color);
}
.Home h1::after{
  display: none;
}
.Home .main-button{
  width: max-content;
  padding: 15px 40px;
  background-color: var(--accent-color);
  border-radius: 1000px;
  font-weight: 600;
  box-shadow: 0 0 20px 5px #34ffd64e;
  color: var(--color-2);
  transition: var(--standard-transition-smooth);
}
.Home .main-button:hover{
  scale: 1.1;
}
.Home .flex-row{
  display: flex;
  gap: 15px;
}
.Home h2{
  margin: 20px 0;
  font-size: 1.5rem;
}
.Home .login-buttons{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.Home .about-section{
  margin-inline: auto;
  box-sizing: border-box;
  width: min(1000px, 100%);
  padding: 20px;
  background: var(--color-2);
  border-radius: 10px;
}
@media(max-width: 1000px){
  .Home header{
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-position: center;
  }
  .Home h1{
    font-size: 6vw;
    text-align: center;
    margin: 0;
    margin-top: 65px;
  }
}
@media(max-width: 550px){
  .Home h1{
    font-size: 2.5rem;
    text-align: center;
  }
}