.Navbar{
  box-sizing: border-box;
  padding-right: 20px;
  height: 65px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  border-bottom: 1px solid var(--color-3);
  background-color: var(--color-2);

  display: flex;
  align-items: center;
  gap: 20px;
}
.FocusNavbar{
  padding-left: 10px;
}
.Navbar .nav-links-container{
  height: 100%;
  display: flex;
}
.Navbar .nav-links-container a{
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  transition: var(--standard-transition-fast);
}
.Navbar .nav-links-container a::after{
  content: '';
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: var(--standard-transition-fast);
  background-color: var(--accent-color);
  border-radius: 1.2px;
}
.Navbar .nav-links-container a:hover::after{
  height: 4px;
}
.Navbar .round-links-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Navbar .round-links-container a{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
}
.Navbar .round-links-container img{
  height: 100%;
}

.search-bar{
  height: 50px;
  flex-grow: 1;
  background-color: var(--color-1);
  display: flex;
  border-radius: 1000px;
  position: relative;
}
.search-bar label{
  padding: 10px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input{
  font: inherit;
  padding: 10px 10px 10px 0;
  flex-grow: 1;
  background: transparent;
  border: none;
  border-radius: 0 1000px 1000px 0;
  color: var(--text-color);
}
.search-bar input:focus{
  outline: none;
}
.search-bar input:focus::placeholder{
  color: var(--accent-color);
}
.search-bar input::placeholder{
  color: var(--color-5);
}
.search-bar input::-webkit-search-cancel-button{
  position:relative;
  right: 10px;  
}
.suggestions-container{
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  
  background-color: var(--color-1);
  border: 1px solid var(--color-4);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}
.suggestions-container a{
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar.hidden{
  display: none !important;
}
.sidebar{
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2000;
  background-color: var(--color-1);

  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
}
.sidebar a {
  padding: 15px;
  border-bottom: 1px solid var(--color-2);
}
.sidebar a:hover{
  background-color: var(--color-2);
}
.menu-toggle-button{
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hamburger-menu-button{
  display: none;
}
.menu-toggle-button:hover, .menu-toggle-button:focus{
  outline: none;
  background-color: var(--color-3);
}
.sidebar .menu-toggle-button{
  align-self: flex-end;
}
@media(max-width: 800px){
  #hamburger-menu-button{
    display: flex;
  }
  .Navbar{
    padding-right: 10px;
    gap: 5px;
  }
  .Navbar *.hideOnMobile{
    display: none !important;
  }
  .sidebar{
    width: 300px;
    box-shadow: var(--standard-shadow);
    border-right: 5px solid var(--color-5);
  }
}
@media(max-width: 500px){
  .create-collection-button{
    display: none !important;
  }
  .search-bar{
    min-width: unset;
  }
  .search-bar input{
    min-width: 0;
  }
  .sidebar{
    width: 100%;
    border: none;
    box-shadow: none;
  }
}