.QuestionCard{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  min-height: 500px;
  width: 800px;
  max-width: 100%;
  border-radius: 20px;
  background-color: var(--color-3);
  box-shadow: var(--standard-shadow);

  display: flex;
  flex-direction: column;
}
.Stats{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  min-height: 500px;
  width: 800px;
  max-width: 100%;
  border-radius: 20px;
  background-color: var(--color-3);
  box-shadow: var(--standard-shadow);

  font-size: var(--standard-font-size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.QuestionCard > div{
  flex: 1 1 0;
}
.QuestionCard .question-container{
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.QuestionCard .answer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.QuestionCard .answer-container .answers{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.QuestionCard .answer-container .answers > *{
  min-width: 40%;
  flex: 1 1 0;  
}
.QuestionCard .options-container{
  display: flex;
  justify-content: space-between;
}

.answer{
  padding: 15px 30px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid var(--color-5);
  color: var(--text-color);
  font-weight: 500;

  position: relative;
}
.answer::before{
  content: attr(data-index);
  position: absolute;
  left: 15px;
  color: var(--accent-color);
}
.answer:hover, .answer:focus{
  outline: none;
  background-color: var(--color-4);
}
.answer.revealedAnswer{
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  animation: .5s revealBlink;
  animation-fill-mode: forwards;
}
.answer.removedAnswer{
  animation: 1s shrinkZero ease-in-out;
  color: transparent;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}
.answer.removedAnswer::before{
  content: 'NOT THIS ONE';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
.answer.correctAnswer{
  background-color: var(--accent-color);
  border: none;
  color: var(--color-4);
  position: relative;
}
body.darkmode .answer.correctAnswer{
  box-shadow: var(--accent-shadow);
}
.answer.wrongAnswer{
  border: 1px solid #ff6161;
  background: var(--t-error-red);
  color: #ff6161;
}
.answer.wrongAnswer::before{
  color: #ff6161;
}

.feedback.wrong{
  color: #ff6161;
}
.feedback.correct{
  color: var(--accent-color);
}
@keyframes revealBlink{
  0%{
    background-color: transparent;
  }
  100%{
    background-color: var(--t-accent-color);
  }
}

@keyframes shrinkZero{
  0%{
    scale: 1;
  }
  100%{
    scale: 0;
  }
}

.stats-flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.statsCard{
  flex-grow: 1;
  padding: 14px;
  border-radius: 14px;
  background-color: var(--color-4);

  font-size: 1.25rem;
  text-align: center;
}
.statsCard span:first-child{
  font-size: 3rem;
  font-weight: 700;
}
@media(max-width: 500px){
  .QuestionCard{
    min-height: unset;
    padding: 10px;
  }
  .Stats{
    min-height: unset;
    padding: 15px;
  }
  .QuestionCard .answers{
    flex-direction: column;
  }
  table{
    display: block;
  }
  table th{
    display: block;
  }
  table td{
    display: block;
  }
}